:root {
  --white: white;
  --soft-white: #e2efef;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: var(--soft-white);
}

a {
  color: inherit;
  text-decoration: none;
}
